/*
 Theme Name:   cb-coda2026
 Theme URI:    https://www.identitycoda.com/
 Description:  Chillibyte Theme for Identity Coda 2026
 Author:       ChillibyteUK - DS
 Author URI:   https://github.com/ChillibyteUK
 Template:     understrap
 Version:      0.1
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  cb-coda2026
 Tags: one-column, custom-menu, featured-images, theme-options, translation-ready
 GitHub Theme URI: ChillibyteUK/cb-coda2026
*/
