.cb-faq {
  &__item {
    border-top: 1px solid hsl(var(--hsl-lime-1000) / 0.4) !important;
    padding-top: 1rem;
    padding-bottom: 2rem;

    .cb-faq__question {
      font-size: var(--fs-500);
      color: var(--col-neutral-700);
    }

    .cb-faq__answer {
      font-size: var(--fs-400);

      p {
        margin-bottom: 0.75em;

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        text-decoration: underline;
      }
    }
  }
}
