.content-grid {
  font-size: var(--fs-body);
  font-weight: var(--fw-light);
  line-height: 1.5;
  color: var(--col-primary-black);
  &-title {
    padding-top: 0.25rem;
    margin-bottom: 1rem;
    font-size: var(--fs-600);
    color: var(--col-lime-900);
    line-height: 1;
    border-top: 1px solid var(--col-lime-900);
    border-bottom: 1px solid var(--col-lime-900);
  }

  &.has-neutral-900-background-color,
  &.has-neutral-1100-background-color {
    .content-grid-title {
      color: var(--col-white);
      border-color: var(--col-white);
    }
  }
}

.img-cover > img {
  object-fit: cover;
}

.content-grid-row-sync {
  .img-cover.ratio {
    height: 100%;

    &::before {
      padding-top: 0;
    }
  }

  .img-cover > img {
    width: 100%;
    height: 100%;
  }
}
