.cb-services-nav {
  position: relative;
  background-color: var(--col-white);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  isolation: isolate;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(../img/BlurEffect_03_2500px.webp) center / cover no-repeat
      fixed;
  }

  &__container {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &__header {
    background-color: hsla(var(--hsl-primary-black) / 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    color: var(--col-lime-400);
    font-size: var(--fs-300);
    font-weight: var(--fw-regular);
    padding-block: 1rem;
    line-height: 1;
  }
  &__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
    transition: background-color 0.3s ease;
    color: var(--col-white);
    font-weight: var(--fw-light);
    text-decoration: none;
    font-size: var(--fs-850);
    transition: background-color 0.3s ease;
    padding-block: 0.25em 0.2em;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      color: var(--col-white);
      text-decoration: none;
    }
    @media (max-width: 767px) {
      font-size: var(--fs-600);
    }
  }
  &__item-icon {
    width: 62px;
    height: 45px;
  }
  &.cb-services-nav--front .cb-services-nav__item {
    font-weight: var(--fw-light);
  }
}
