.delivered {
  position: relative;
  background-color: var(--col-white);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  isolation: isolate;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(../img/BlurEffect_03_2500px.webp) center / cover no-repeat
      fixed;
  }

  &__container {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &__header {
    background-color: hsla(var(--hsl-primary-black) / 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    color: var(--col-lime-400);
    font-size: var(--fs-300);
    font-weight: var(--fw-regular);
    padding-block: 1rem;
    line-height: 1;

    h2 {
      line-height: 1;
      font-weight: var(--fw-regular);
      color: var(--col-lime-400);
      font-size: var(--fs-300);
      margin-bottom: 0;
    }
  }
  &__grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  &__item {
    // display: contents;
    color: var(--col-primary-black);
    &[data-aos] {
      animation-name: aos-fade-up;
    }
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    font-weight: var(--fw-light);
    font-size: var(--fs-500);
    padding-block: 0.5rem 0.25rem;
    @media (min-width: 768px) {
      font-size: var(--fs-500);
    }
  }

  &__stat {
    padding-block: 1rem 0.5rem;
    padding-inline: 1.25rem;
    @media (min-width: 768px) {
      padding-inline: 3rem;
    }
    font-size: var(--fs-900);
    font-weight: var(--fw-semi);
    color: var(--col-green-400);
    line-height: 1;
    white-space: nowrap;
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      border-bottom: none;
      padding-block: 1rem 0.5rem;
    }
  }
  &__descriptor {
    padding-block: 0 1rem;
    padding-inline: 1.25rem;
    @media (min-width: 768px) {
      padding-block: 1rem;
      padding-inline: 1rem;
    }
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    font-size: var(--fs-500);
    font-weight: var(--fw-light);
    color: var(--col-white);
    display: flex;
    align-items: center;
  }
}
