.lined-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0 0 0.5rem 0;
  }
  li:not(:first-child) {
    padding-top: 0.5rem;
  }
  li:not(:last-child) {
    border-bottom: 1px solid hsl(var(--hsl-lime-1000) / 0.4) !important;
  }
}
