.leadership {
  &__item {
  }
  &__image {
    aspect-ratio: 1/1;
    width: 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    margin-bottom: 1.5rem;
  }
  &__name {
    color: var(--col-lime-1100);
    font-size: var(--fs-500);
    border-top: 1px solid var(--col-lime-1000);
    border-bottom: 1px solid var(--col-lime-1000);
    padding-block: 0.25rem 0;
  }
  &__role {
    color: var(--col-neutral-900);
    font-size: var(--fs-300);
    border-bottom: 1px solid var(--col-lime-1000);
    padding-block: 0.25rem 0;
    margin-bottom: 1.5rem;
  }
  &__bio {
    color: var(--col-primary-black);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    margin-bottom: 3rem;
  }
}
