.text-page {
  background-color: var(--col-white);
  color: var(--col-primary-black);
  border-bottom: 1px solid hsl(var(--hsl-lime-1000) / 0.4) !important;

  .post-title {
    border-top: 1px solid hsl(var(--hsl-lime-1000) / 0.4) !important;
    border-bottom: 1px solid hsl(var(--hsl-lime-1000) / 0.4) !important;
    padding-block: 1rem;
    h1 {
      color: var(--col-lime-900);
      font-size: var(--fs-850);
      font-weight: var(--fw-light);
    }
  }
  .post-content {
    --_colour: var(--col-lime-900);
    .container {
      padding-inline: 0;
      margin-inline-end: 2rem;
    }
    > .container:first-of-type {
      color: var(--_colour);
      font-size: var(--fs-500);
      border-bottom: 1px solid hsl(var(--hsl-lime-1000) / 0.4) !important;
      margin-bottom: 2rem;
      padding-block: 1rem 0.5rem;
    }

    h2 {
      border-top: 1px solid hsl(var(--hsl-lime-1000) / 0.4) !important;
      border-bottom: 1px solid hsl(var(--hsl-lime-1000) / 0.4) !important;
      color: var(--_colour);
      font-size: var(--fs-600);
      font-weight: var(--fw-light);
      margin-block: 2rem;
      padding-block: 0.25rem;
    }
    .table,
    .wp-block-table table {
      color: var(--col-primary-black) !important;
    }
  }
}
