$col-primary: #27383a;
$col-dark: #222222;
$col-darkest: #4a4a4a;
$col-light: #f2f2f2;

:root {
  /* =========================
     COLOURS (HSL + computed)
     ========================= */

  --hsl-primary-black: 60 4% 5%;
  --col-primary-black: hsl(var(--hsl-primary-black)); // #0d0d0c;
  --col-white: #fff;

  // Primary Base Neutrals
  // --col-neutral-1100: #22211e;
  // --col-neutral-1000: #363531;
  --col-neutral-900: #505049;
  --col-neutral-800: #5e5d55;
  --hsl-neutral-800: 53 5% 35%;
  --col-neutral-700: #77766c;
  --col-neutral-600: #939287;
  --col-neutral-500: #aeada1;
  --col-neutral-400: #c9c7bc;
  --col-neutral-300: #dddcd2;
  --col-neutral-200: #ebe9e1;
  --col-neutral-100: #f8f7f0;

  // Secondary Electric Purple
  // --col-purple-1000: #190a83;
  --col-purple-900: #2f13ba; // main purple
  // --col-purple-800: #4c35d0;
  // --col-purple-700: #7162e1;
  // --col-purple-600: #8b7ff0;
  // --col-purple-500: #a49bfd;
  // --col-purple-400: #bcb7ff;
  // --col-purple-300: #d0ccff;
  // --col-purple-200: #e0deff;
  // --col-purple-100: #f1f0ff;

  // Secondary Lime
  --col-lime-1100: #345a00;
  --hsl-lime-1000: 85 100% 21%; // #3d6900;
  --col-lime-1000: hsl(var(--hsl-lime-1000));
  --hsl-lime-900: 85 100% 25%;
  --col-lime-900: hsl(var(--hsl-lime-900)); // #4c8200;
  --col-lime-800: #5e9f00;
  // --col-lime-700: #6bb600;
  --col-lime-600: #94dd2c;
  // --col-lime-500: #adf448;
  --col-lime-400: #b8ff52; // main lime
  --hsl-lime-300: 85 95% 75%; // #cafc83;
  --col-lime-300: hsl(var(--hsl-lime-300));
  --hsl-lime-200: 85 90% 84%; // #ddfbb2;
  --col-lime-200: hsl(var(--hsl-lime-200));
  --col-lime-100: #eefed9;

  // Tertiary Action Red
  // --col-red-1000: #6e0606;
  // --col-red-900: #850d0d;
  // --col-red-800: #a51616;
  // --col-red-700: #c21d1d;
  // --col-red-600: #e03030; // main red
  // --col-red-500: #ec5a5a;
  // --col-red-400: #ff8989;
  // --col-red-300: #ffc0c0;
  // --col-red-200: #ffdfdf;
  // --col-red-100: #fff0f0;

  --grad-main: linear-gradient(
    to bottom,
    var(--col-white),
    var(--col-lime-100),
    var(--col-lime-200),
    var(--col-lime-300)
  );

  /* =========================
     TYPOGRAPHY (families/weights)
     ========================= */
  --ff-heading:
    "Suisse", Arial, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --ff-body:
    "Suisse", Arial, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

  --fw-semi: 500; /* Semi */
  --fw-regular: 400; /* Regular */
  --fw-light: 300; /* Light */

  --lh-tightest: 1;
  --lh-tight: 1.1;
  --lh-snug: 1.2;
  --lh-normal: 1.5;

  /* =========================
    TYPOGRAPHY
    ========================= */

  /* body size defined globally */
  --fs-body: 18px;

  /* fixed base levels */
  --fs-50: 0.8889rem; /* ~16px */
  --fs-100: 1rem; /* 18px floor and cap */
  --fs-200: 1.125rem; /* ~20px floor and cap */
  /* fluid-down heading levels – refined lower scaling */
  --fs-300: clamp(1rem, 0.95rem + 0.5vw, 1.25rem); /* 16→22px */
  --fs-400: clamp(1.0625rem, 0.9rem + 0.6vw, 1.375rem); /* 17→25px */
  --fs-500: clamp(1.1875rem, 0.9rem + 1vw, 1.751rem); /* 19→32px */
  --fs-600: clamp(1.3125rem, 0.9rem + 1.2vw, 1.999rem); /* 21→36px */
  --fs-700: clamp(1.4375rem, 0.9rem + 1.4vw, 2.25rem); /* 23→40px */
  --fs-800: clamp(1.5rem, 0.9rem + 1.6vw, 2.5rem); /* 24→45px */
  --fs-850: clamp(1.875rem, 0.95rem + 1.9vw, 3.125rem); /* 30→56px */
  --fs-875: clamp(2.25rem, 1rem + 2.2vw, 3.5rem); /* 36→72px */
  --fs-900: clamp(3rem, 1rem + 3vw, 5rem); /* 48→90px */
  --fs-950: clamp(3.4375rem, 1rem + 4vw, 6.25rem); /* 55→112px */

  /* === Utilities === */
  --transition: 250ms ease-out;

  --h-top: 57px;
  --h-top-desktop: 57px;
}
